gradio>=4.44.0
python-dotenv>=1.0.1
pydantic>=2.8.2

langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-groq>=0.2.0
langchain-huggingface>=0.1.2
langgraph>=0.2.14

faiss-cpu>=1.8.0.post1
sentence-transformers>=3.0.1
pypdf>=4.3.1
tqdm>=4.66.5
openrouteservice>=2.3.3
geopy>=2.4.1
geonamescache>=2.0.0
